@use "./base" as u;

/*header*/

.header-wrapper{
    background-image: url("../images/mobile/image-header.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    min-height:70vh;
    padding:1rem;

    @include u.breakpoint-up(medium){
        background-image: url("../images/desktop/image-header.jpg");
        background-position: center;
        .hamburger{
            display:none;
        }
    }

    header{
        .primary-navigation{
            position:absolute;
            background-color: var(--clr-neutral-100);
            width:90%;
            margin-inline: auto;
            top:10%;
            padding:2rem;

            /**/
            display:none;

            &.active{
                display:block;
            }
            @include u.breakpoint-up(medium){
                position:static;
                background: none;
                display: block;
                padding:0;
                width:auto;
                margin:0;
            }
            ul.nav-list{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:1.5rem;
                padding:0;

                .nav-button{
                    padding:0.75em 1.5em;
                    border-radius: 2em;
                    border:0;
                    background-color: var(--clr-yellow);
                    cursor:pointer;
                }

                @include u.breakpoint-up(medium){
                    flex-direction: row;

                    .nav-button{
                        background-color: var(--clr-neutral-100);
                        &:hover{
                            color:var(--clr-neutral-100);
                            background-color: hsla(0, 0%, 100%, .3);
                        }
                    }

                }
            }
            
        }
        }

}


.half-text-section{
    .half-text-link{
        position:relative;
        &::after{
            content:"";
            display:block;
            height:.5rem;
            border-radius: 1rem;
            opacity:0.4;
            width:110%;
            position:absolute;
            bottom:0;
            right:-5%;
            z-index:-1;
            background-color: var(--clr-yellow);
        }
        &.red-bottom::after{
            background-color:var(--clr-soft-red);
        }
    }
}

.background-wrapper{
   text-align: center;
}